In [8]:
import pandas as pd

# Open the file and read lines into a list
with open('woorimal.txt', 'r', encoding='cp949') as file:
    lines = file.read().splitlines()

# Convert list to DataFrame
df = pd.DataFrame(lines, columns=['verse'])
df.head()

                                               verse
0                  창 1:1\t*하나님께서 태초에 하늘과 땅을 창조하셨습니다.
1  창 1:2\t그 땅은 형태가 없고 비어 있었으며 어둠이 깊은 물 위에 있었고 *하나...
2         창 1:3\t하나님께서 말씀하시기를 “빛이 있으라” 하시니 빛이 생겼습니다.
3  창 1:4\t하나님께서 보시기에 그 빛이 좋았습니다. 하나님께서는 빛을 어둠과 나누...
4  창 1:5\t하나님께서 그 빛을 ‘낮’이라 부르시고 그 어둠을 ‘밤’이라 부르셨습니...

In [12]:
df[['verse', 'text']] = df['verse'].str.split('\t', expand=True)
df.head()

   verse                                               text
0  창 1:1                         *하나님께서 태초에 하늘과 땅을 창조하셨습니다.
1  창 1:2  그 땅은 형태가 없고 비어 있었으며 어둠이 깊은 물 위에 있었고 *하나님의 영은 수...
2  창 1:3                하나님께서 말씀하시기를 “빛이 있으라” 하시니 빛이 생겼습니다.
3  창 1:4       하나님께서 보시기에 그 빛이 좋았습니다. 하나님께서는 빛을 어둠과 나누셨습니다.
4  창 1:5  하나님께서 그 빛을 ‘낮’이라 부르시고 그 어둠을 ‘밤’이라 부르셨습니다. 저녁이 ...

In [16]:
pattern = r'(?P<book>\D+?)\s(?P<chapter>\d+):(?P<verse>\d+)'

# Use str.extract() to apply the pattern
df_extracted = df['verse'].str.extract(pattern)

# Show the DataFrame with the new columns
df_extracted.head()

  book chapter verse
0    창       1     1
1    창       1     2
2    창       1     3
3    창       1     4
4    창       1     5

In [19]:
df['book_name_kr'] = df_extracted['book']
df['chapter'] = df_extracted['chapter']
df['verse'] = df_extracted['verse']
df = df[['book_name_kr', 'chapter', 'verse', 'text']]
df

,book_name_kr,chapter,verse,text
0,창,1,1,*하나님께서 태초에 하늘과 땅을 창조하셨습니다.
1,창,1,2,그 땅은 형태가 없고 비어 있었으며 어둠이 깊은 물 위에 있었고 *하나님의 영은 수...
2,창,1,3,하나님께서 말씀하시기를 “빛이 있으라” 하시니 빛이 생겼습니다.
3,창,1,4,하나님께서 보시기에 그 빛이 좋았습니다. 하나님께서는 빛을 어둠과 나누셨습니다.
4,창,1,5,하나님께서 그 빛을 ‘낮’이라 부르시고 그 어둠을 ‘밤’이라 부르셨습니다. 저녁이 ...
...,...,...,...,...
31100,계,22,17,성령과 신부가 “오라”고 말씀하십니다. 이 말을 듣는 사람도 “오라”고 외치십시오....
31101,계,22,18,나는 이 책의 예언의 말씀들을 듣는 모든 사람에게 증거합니다. 누구든지 이 말씀들에...
31102,계,22,19,그리고 누구든지 이 예언의 책의 말씀들로부터 어떤 것이라도 없애 버리면 하나님께서는...
31103,계,22,20,이 모든 것을 증거하신 이가 말씀하십니다. “참으로 내가 속히 갈 것이다.” 아멘....
31104,계,22,21,(없음)

In [23]:
unique_books = list(df['book_name_kr'].unique())

print(unique_books)

['창', '출', '레', '민', '신', '수', '삿', '룻', '삼상', '삼하', '왕상', '왕하', '대상', '대하', '스', '느', '에', '욥', '시', '잠', '전', '아', '사', '렘', '애', '겔', '단', '호', '욜', '암', '옵', '욘', '미', '나', '합', '습', '학', '슥', '말', '마', '막', '눅', '요', '행', '롬', '고전', '고후', '갈', '엡', '빌', '골', '살전', '살후', '딤전', '딤후', '딛', '몬', '히', '약', '벧전', '벧후', '요일', '요이', '요삼', '유', '계']

In [24]:
full_name = ['창세기', '출애굽기', '레위기', '민수기', '신명기', '여호수아', '사사기', '룻기', 
             '사무엘상', '사무엘하', '열왕기상', '열왕기하', '역대상', '역대하', '에스라', 
             '느헤미야', '에스더', '욥기', '시편', '잠언', '전도서', '아가서', '이사야', '예레미야',
             '예레미야애가', '에스겔', '다니엘', '호세아', '요엘', '아모스', '오바댜', '요나', 
             '미가', '나훔', '하바국', '스바냐', '학개', '스가랴', '말라기', '마태복음', '마가복음',
             '누가복음', '요한복음', '사도행전', '로마서', '고린도전서', '고린도후서', '갈라디아서', 
             '에베소서', '빌립보서', '골로새서', '데살로니가전서', '데살로니가후서', '디모데전서', 
             '디모데후서', '디도서', '빌레몬서', '히브리서', '야고보서', '베드로전서', '베드로후서', 
             '요한 1서', '요한 2서', '요한 3서', '유다서', '요한계시록']

In [27]:
# Create a mapping dictionary from abbrev_names to full_names
name_mapping = dict(zip(unique_books, full_name))

# replace values
df['book_name_kr'] = df['book_name_kr'].replace(name_mapping)

/var/folders/k7/96j2v32x5hzd0cnmry5y_j100000gn/T/ipykernel_41118/468458250.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['book_name_kr'] = df['book_name_kr'].replace(name_mapping)

In [28]:
df.head()

,book_name_kr,chapter,verse,text
0,창세기,1,1,*하나님께서 태초에 하늘과 땅을 창조하셨습니다.
1,창세기,1,2,그 땅은 형태가 없고 비어 있었으며 어둠이 깊은 물 위에 있었고 *하나님의 영은 수...
2,창세기,1,3,하나님께서 말씀하시기를 “빛이 있으라” 하시니 빛이 생겼습니다.
3,창세기,1,4,하나님께서 보시기에 그 빛이 좋았습니다. 하나님께서는 빛을 어둠과 나누셨습니다.
4,창세기,1,5,하나님께서 그 빛을 ‘낮’이라 부르시고 그 어둠을 ‘밤’이라 부르셨습니다. 저녁이 ...

In [30]:
pd.set_option('display.max_rows', None)
print(df['book_name_kr'].value_counts())

book_name_kr
시편         2461
창세기        1533
예레미야       1364
이사야        1292
민수기        1288
에스겔        1273
출애굽기       1213
누가복음       1151
마태복음       1071
욥기         1070
사도행전       1007
신명기         959
역대상         942
잠언          915
요한복음        879
레위기         859
역대하         822
열왕기상        816
사무엘상        810
열왕기하        719
사무엘하        695
마가복음        678
여호수아        658
사사기         618
고린도전서       437
로마서         433
느헤미야        406
요한계시록       405
다니엘         357
히브리서        303
에스라         280
고린도후서       257
전도서         222
스가랴         211
호세아         197
에스더         167
에베소서        155
예레미야애가      154
갈라디아서       149
아모스         146
아가서         118
디모데전서       113
야고보서        108
미가          105
베드로전서       105
요한 1서       105
빌립보서        104
골로새서         95
데살로니가전서      89
룻기           85
디모데후서        83
요엘           73
베드로후서        61
하바국          56
말라기          55
스바냐          53
요나           48
데살로니가후서      47
나훔           47
디도서          46
학개           38
빌레몬서         25
유다서          25
오바댜          21
요한 3서        15
요한 2서        13
Name: count, dtype: int64

In [31]:
df.to_csv('우리말.csv', encoding='cp949', index=False)